<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PCWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:38011/TestMSExcel/PCWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PCWebServiceSoap"
                contract="TestMSExcelServiceReference.PCWebServiceSoap" name="PCWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>